@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #58CC02;
}

header {
    color: #fff;
    padding: 0.800rem;
    background-color: var(--primary-color);
}

header.home-header {
    background-image: linear-gradient(to right, #58CC02, #fff);
}

header.home-header h1 {
    margin-left: 3rem;
}


main {
    max-width: 43.75rem;
    margin: auto;
}

section h2, p {
    margin-top: 1.25rem;
}

section h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

section p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.1rem;
}

section h3 {
    color: var(--primary-color);
    margin-bottom: 0.3rem;
}

section a {
    font-style: italic;
}

section ol, ul {
    list-style-position: inside;
    margin-bottom: 1.3rem;
}

section ul li {
    margin-bottom: .7rem;
}

i {
    color: inherit;
}

.busuu {
    list-style-image: url("../img/busuu25px.webp");
}

.memrise {
    list-style-image: url("../img/memrise25.png");
}

.mosalingua {
    list-style-image: url("../img/mosalingua25.webp");
}

footer {
    margin-top: 60px;
    background-color: var(--primary-color);
    padding: 0.625rem;
    text-align: center;
}

footer a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

footer a:hover {
    text-decoration: underline;
}


/* Aprendendo */

section.aprendendo {
    margin-top: 3rem;
}

section.aprendendo img {
    display: block;
    margin: auto;
}